form(
  ng-submit='updatePassword(passwordUpdateForm)'
  role='form'
  ng-init='passwordUpdateForm = {}'
)
  fieldset(ng-disabled='!user.uid')
    .form-group
      label password
      input.form-control(
        type='password'
        name='password'
        ng-model='passwordUpdateForm.password'
        required
      )

    .form-group
      label password confirmation
      input.form-control(
        type='password'
        name='password_confirmation'
        ng-model='passwordUpdateForm.password_confirmation'
        required
      )

    .pull-right
      button#reg-submit.btn.btn-primary.btn-md(type='submit') Update password
      button.btn.btn-default.btn-md(ng-click='$hide()') Cancel
