h1 Angular.js Token Auth Demo

br

.row
  div.col-sm-12
    h3 <u>current user</u>

    .row

      .col-sm-8
        label user id
        p {{ user.signedIn || "none" }}

        label user email
        p {{ user.email || "none" }}

        label favorite color (optional)
        p {{ user.favorite_color || "n/a" }}

        button.btn.btn-primary(ng-click='signOut()', ng-disabled='!user.signedIn') Sign out

      .col-sm-4(ng-if='user.signedIn')
        img(ng-src='{{ user.image }}', width="100%")


.row
  .col-sm-12
    h2 Authenticate using an oauth2 provider

    fieldset(ng-disabled='user.signedIn')
      button.btn.btn-primary(ng-click="authenticate('github')") Github
      button.btn.btn-primary(ng-click="authenticate('facebook')") Facebook
      button.btn.btn-primary(ng-click="authenticate('google')") Google
      button.btn.btn-primary(ng-click="authenticate('developer')") Developer


  .col-sm-6
    h2 Register by email

    form(
      ng-submit='submitRegistration(registrationForm)'
      role='form'
      ng-init='registrationForm = {}'
    )
      fieldset(ng-disabled='user.signedIn')
        .form-group
          label email
          input.form-control(
            type='email'
            name='email'
            ng-model='registrationForm.email'
            required
          )

        .form-group
          label password
          input.form-control(
            type='password'
            name='password'
            ng-model='registrationForm.password'
            required
          )

        .form-group
          label password confirmation
          input.form-control(
            type='password'
            name='password_confirmation'
            ng-model='registrationForm.password_confirmation'
            required
          )

        .form-group
          label favorite color (optional)
          input.form-control(
            type='text'
            name='favorite_color'
            ng-model='registrationForm.favorite_color'
          )

        button#reg-submit.btn.btn-primary.btn-lg(type='submit') Register

  .col-sm-6
    h2 Sign in by email

    form(
      ng-submit='submitLogin(loginForm)'
      role='form'
      ng-init='loginForm = {}'
    )
      fieldset(ng-disabled='user.signedIn')
        .form-group
          label email
          input.form-control(
            type='email'
            name='email'
            ng-model='loginForm.email'
            required
          )

        .form-group
          label password
          input.form-control(
            type='password'
            name='password'
            ng-model='loginForm.password'
            required
          )

        button.btn.btn-primary.btn-lg(type='submit') Sign in

.row
  div.col-sm-6
    h3 Reset password

    form(
      ng-submit='requestPasswordReset(passwordResetForm)'
      role='form'
      ng-init='passwordResetForm = {}'
    )
      fieldset
        .form-group
          label email
          input.form-control(
            type='email'
            name='email'
            ng-model='passwordResetForm.email'
            required
          )

        button.btn.btn-primary.btn-lg(type='submit') Send password reset email

        button.btn.btn-primary.btn-lg(
          type='button'
          ng-click='showPasswordChangeModal()'
          ng-disabled='!user.signedIn'
        ) Change password

  div.col-sm-6
    h3 Change your favorite color

    form(
      ng-submit='updateAccount(updateAccountForm)'
      role='form'
      ng-init='updateAccountForm = {favorite_color: null}'
    )
      fieldset(ng-disabled='!user.signedIn')
        .form-group
          label favorite color
          input.form-control(
            type='text'
            name='text'
            ng-model='updateAccountForm.favorite_color'
          )

        button.btn.btn-primary.btn-lg(type='submit') Update your favorite color


.row
  div.col-sm-6
    h3 Destroy account
    button.btn.bn-lg.btn-primary(
      ng-click='destroyAccount()'
      ng-class='{disabled: !user.signedIn}'
    ) Destroy account

  div.col-sm-6
    h3 Restricted routes
    p(ng-show='user.signedIn') You are signed in, these will work
    p(ng-show='!user.signedIn') You are signed NOT in, these will NOT work

    button.btn.btn-lg(
      ng-click='accessRestrictedRoute()'
      ng-class='{"btn-primary": user.signedIn, "btn-danger": !user.signedIn}'
    ) Make single <br />privileged request

    button.btn.btn-lg(
      ng-click='restrictedRoutesBatch()'
      ng-class='{"btn-primary": user.signedIn, "btn-danger": !user.signedIn}'
    ) Make multiple <br />privileged requests
